<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Sections</title>
    <link rel="stylesheet" href="index.css">
    <style>
        *{
    margin: 0px;
    padding: 0px;
}
div{
    height: 200px;
    width: 30%;
    color: white;
    text-align: center;
    float: left ;
}
body{
    background-color: aqua;
}
.one{
    background-color: red;
    width: 100%;
}

.two{
    background-color: green;
    width: 50%;
}
.three{
    background-color: yellow;
    color: #000000;
    float: right;
    width: 50%;
}
    </style>
</head>
<body>
    <div class="one">One</div>
    <div class="two">Two</div>
    <div class="three">Three</div>  
</body>
</html>
